@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 243, 244, 246;
    /* gray-100 */
    --background-end-rgb: 255, 255, 255;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    /* slate-900 */
    --background-end-rgb: 2, 6, 23;
    /* slate-950 */
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    min-height: 100vh;
    @apply transition-colors duration-300;
  }
}